.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row dense;
}

.grid__pic {
  height: 100%;
  width: 100%;  
}

.pic-izm {
    grid-column: span 2;
    grid-row: span 2; 
}

.pic {
    grid-column: span 2;
    grid-row: span 2;
}


