body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Inter;
}

.content-section {
    width: 360px;
    margin: auto;
    
}

.content-section_theme_dark {
    height: 100px;
    width: 100px;
    color: black;
}

.content-section_theme_bright {
    height: 100px;
    width: 100px;
    color: #ffff04;
}
